
.open-sans-logo {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.open-sans-signup {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* nav */
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0px 300px;
    
}

nav ul li{
    list-style: none;
    
}
.nav-btn{
    background-color: #4E47FF;
    font-weight: normal;
    font-size: 16px;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border:none;
}

.nav-title{
    color: #4E47FF;
    font-size: 34px;
    font-weight:800;
}

header{
    background-image: url(../Assets/Hero-bg.png);
    
}

/* Banner */
.banner{
    padding-bottom: 100px;
}
.banner-content{
    text-align: center;
    padding-top:58px;
    color: #252432;
    
}
.banner-title{
    font-weight: 600;
    font-size: 65px;
    
    
}

/* main style */
body{
    background-color: #D6DDED;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* action */
.action{
    display: flex;
    justify-content: space-around;
    margin-top: 116px;
}
.action-head{
    font-size:49px;
    font-weight: bold;
    color: #252432;
}
.action-des{
    font-weight:normal;
    font-size: 24px;
    color: #252432;
}

.action-pic{
    border-radius: 48px;
}


/* users */
.users{
    border-radius: 24px;
    padding: 50px 142px;
    text-align: center;
    background-color:#E5E7FF ;
    margin-top: 130px;
    
    
}
.users-head{
    color: #252432;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    
}
.users-elements{
    display: flex;
    justify-content: space-around;
    
}

.user-logo{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0px;
}
.user-des{
    margin: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    
}
/* reviews */
.innerflex{
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.reviewers{
    display: flex;
    gap: 24px;
}
.reviewer{
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    text-align: left;  
    background-color: white;  
}
.reviews{
    text-align: center;
    margin-top: 114px;
}

.review-head{
    font-size: 42px;
    font-weight: bold;
}

.r-pic{
    border-radius: 50px;
}
.r-name{
    color: #757575;
    margin: 0px;
    padding: 2px;
}
.r-date{
    color: #B3B3B3;
    margin: 0px;
}

/* form */

 .get-in{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 114px;
    padding: 71px 0px;

 }

.get-in-title{
    font-size: 97px;
    font-weight: bold;

}

.col{
    width: 50%;
    font-size: 18px;
    font-weight: normal;
}

section input[type="text"], section input[type="email"], section textarea{
    height: 50px;
    border-radius: 10px;
    display: block;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-bottom: 24px;
    border: none;
    padding: 0px 0px 0px 10px;
    
}


section textarea{
    height: 80px;
    border-radius: 10px;
    display: block;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-bottom: 24px;
    border: none;
    padding: 0px 0px 0px 10px;
    
    
}

.get-btn{
    background-color: #4E47FF;
    font-weight: normal;
    font-size: 16px;
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border:none;
}
.e-margin{
    margin: 4px;
}

.n-margin{
    margin: 3px;
}

.m-margin{
    margin: 3px;
}

/* footer */

.foot{
    padding: 150px 600px;
    text-align: center;
    background-color: white;
    margin-top: 14px;
}

.foot-head{
    color: #4E47FF;
    font-weight:800;
    font-size: 100px;
    margin-bottom: 0px;
}
.foot-text{
    font-weight: normal;
    font-size:21px ;
    color: #8987A1;
}
.foot-items{
    display: flex;
    justify-content: center;
    gap: 80px;
    color: #8987A1;
}

/* button hover */

.nav-btn:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
}
.get-btn:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
}